.ingredientes{
    color: white;
}
.pasos{
    width: 100%;
    text-align: center;
    color: white;
}
.NavbarR{
    background-color: teal;
    overflow: hidden;
}

.menu{
    float: right;
}
.TReceta{
    text-align: center;
    color: white;
}

.fondi{
    background-color: rgb(41, 41, 41);
    overflow: hidden;
}
.titulo{
    color: white;
    text-align: center;
}

.navbar-style {
    padding: 5px 0;
}

.hamburguesa {
    border: initial;
}

.hamburguesa:focus {
    outline: initial;
}

.white {
    color: #ffffffd4;
}

.white:hover {
    color: #ffffff;
}

.navbar-nav {
    text-align: right;
}

.dropdown-menu {
    position: relative !important;
    top: -40px !important;
    float: right !important;
}

.boton-atras {
    padding: 0 .75rem;
    float: left;
    font-size: 1.25rem;
}