.ingredientes{
    color: white;
}
.pasos{
    width: 100%;
    text-align: center;
    color: white;
}
.NavbarR{
    background-color: teal;
    overflow: hidden;
}
.menu{
    float: right;
}
.TReceta{
    text-align: center;
    color: white;
}

.fondi{
    background-color: rgb(20, 20, 20);
    overflow: hidden;
}
.titulo{
    color: white;
    text-align: center;
}

.navbar-style {
    padding: 5px 0;
}

.hamburguesa {
    border: initial;
}

.hamburguesa:focus {
    outline: initial;
}

.white {
    color: #ffffffd4;
}

.white:hover {
    color: #ffffff;
}

.navbar-nav {
    text-align: right;
}

.dropdown-menu {
    position: relative !important;
    top: -40px !important;
    float: right !important;
}
.boton-atras {
    padding: 0 .75rem;
    float: left;
    font-size: 1.25rem;
}
/*Barra de busqueda*/
.box{
    position: absolute;
    top: 50%;
    left: 55%;
    width: 500px;
    transform: translate(-50%, -50%);
}
input{
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: .5s;
}
input[type="text"]{
    background: #fff;
    width: 200px;
    height: 30px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
}
input[type="submit"]{
    position: relative;
    border-radius: 0 25px 25px 0;
    width: 150px;
    height: 34px;
    border: none;
    cursor: pointer;
    background: #46443f;
    color: #fff;
}
input[type="submit"]:hover{
    background: rgb(3, 190, 190);
}

/*Boton Valor Nutricional*/
.gira{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #03e9f4;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 4px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005)
}
.gira:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0  0 5px #03e9f4,
                0  0 25px #03e9f4,
                0  0 50px #03e9f4,
                0  0 200px #03e9f4;
}
.gira span{
    position: absolute;
    display: block;
}
.gira span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px; 
    background: linear-gradient(90deg, transparent, teal);
    animation: animacion1 1s linear infinite;
    
}
@keyframes animacion1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
.gira span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, teal);
    animation: animacion2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animacion2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
.gira span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, teal);
    animation: animacion3 1s linear infinite;
    animation-delay: 0.5s;
}
@keyframes animacion3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}
.gira span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, teal);
    animation: animacion4 1s linear infinite;
    animation-delay: 0.7s;
}
@keyframes animacion4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}
