.Insignia {
    background: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    border-radius: 8px 8px 8px 8px;
    overflow: hidden;
    height: 380px;
  }
  
  .Insignia_header {
    padding: 0.5rem 0;
    height: 80px;
    background: #72727570;
    display: flex;
    justify-content: center;
  }
  
  .ImagenLateral_header {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

