/*Boton*/
.btn btn-primary{
    display: inline-flexbox;
}
.btncentrado{
    margin-left: 77px;
}
/*Formulario*/
.formuregistro{
    color: white;
    text-align: center;
}
.centrado{
    background-color: rgb(53, 53, 53);
    border-radius: 30px;
    margin: 0 auto;
    width: 80%; 
    margin-top: 50px;
    float: left;
    overflow: hidden;
}
/*Imagen Lateral*/
.imagen{
    float: right;
}
/*Inicio sesion*/
.btncentrado{
    margin-left: 77px;
}
.centradito{
    margin: 0 auto;
    width: 70%;
}
.ImagenLateral {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    float: right;
}
/*Navbar*/
.Navbar {
    width: 100%;
    padding: 0.5rem 0;
    background-color:  teal;
    border-radius: 10px;
}
body{
    background: rgb(41, 41, 41);
}
.iniciosesion{
    color: rgb(255, 255, 255);
}
.isorropia{
    font-family: 'Lobster', cursive;
}
/*FormularioD*/
