@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.fondito1{
    background: rgb(20, 20, 20);
    display: flex;
    width: 100%;
    overflow: hidden;
}
.maso{
    margin-top: 40px;
}
/*Bienvenido*/
.contenido{
    text-align: center;
}
.contenido span{
    text-transform: uppercase;
    display: block;
}
.Bienvenido{
    color: white;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 8px;
    margin-bottom: 10px;
    background: rgb(20, 20, 20);
    position: relative;
    animation: text 3s 1;
}
/*Decoracion Isorropia(Nombre)*/
.text2{
    font-family: 'Lobster', cursive;
    padding:0 20px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 20px teal;
}
@keyframes text{
    0%{
        color:black;
        margin-bottom: -40px;
    }
    30%{
        letter-spacing: 25px;
        margin-bottom: -40px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}
/*Cajas*/
.contianer .cardM{
    position: relative;
    width: 300px;
    height: 400px;
    background: rgb(0, 95, 95);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.contianer:hover .cardM{
    opacity: 0.2s;
}
.contianer .cardM:hover{
    opacity: 1;
}
.contianer .cardM::before{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background: rgba(255, 255, 255, 0.1);
    pointer-events: none;
}
.contianer .cardM .content{
    padding: 30px;
    text-align: center;
}
.contianer .cardM .content h2{
    position: absolute;
    right: 30px;
    font-size: 4em;
    font-weight: 800;
    color: rgb(0, 192, 192);
    z-index: 1;
    opacity: 0.1;
    transition: 0.5s;
}
.contianer .cardM:hover .content h2{
    opacity: 1;
    transform: translateY(-70px);
}

.contianer .cardM .content p{
    position: relative;
    font-size: 1em;
    color: white;
    z-index: 2;
    opacity: 0.5;
    font-weight: 300;
    letter-spacing: 1px;
    transform: 0.5s;
}
.contianer .cardM:hover .content h3,
.contianer .cardM:hover .content p{
    opacity: 1;
}
.contianer .cardM .content a{
    display: inline-block;
    margin-top: 15px;
    padding: 8px 15px;
    background: rgb(3, 156, 105);
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}
.contianer .cardM span{
    transition: 0.5s;
    opacity: 0;
}
.contianer .cardM:hover span{
    opacity: 1;
}
.contianer .cardM span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background: linear-gradient(to right, transparent, #00FFFF);
    animation: animate1 2s linear infinite;
}
@keyframes animate1{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}
.contianer .cardM span:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    width: 6px;
    height: 100%;
    background: linear-gradient(to bottom, transparent, #00FFFF);
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animate2{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}
.contianer .cardM span:nth-child(3){
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background: linear-gradient(to left, transparent,#00FFFF);
    animation: animate3 2s linear infinite;
}
@keyframes animate3{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
.contianer .cardM span:nth-child(4){
    position: absolute;
    top: 0;
    left: 0;
    width: 6px;
    height: 100%;
    background: linear-gradient(to top, transparent, #00FFFF);
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animate4{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}