.fondo{
    background-color: rgb(41, 41, 41);
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}
.nombre{
    margin-top: 40px;
}
.cuadroR{
    background-color: rgb(53, 53, 53);
    margin: 0 auto;
    width: 50%;
    border-radius: 30px; 
    margin-top: 100px;
}
.res:hover {
    box-shadow: inset 0 0 20px teal, 0 0 20px cyan;
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px rgb(255, 255, 255);
}