.info_user {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0;
}

.info_user h5 {
    width: 150px;
    margin-top: 10px;
    text-align: center;
}

.box {
    border: 1px solid #EC8800;
    text-align: center;
}

.table-orange thead {
    background-color: #EC8800;
    text-align: center;
}

.table-orange tbody {
    background-color: rgba(236, 136, 0, 0.54);
}
.nombre{
    color: white;
}