.centradito{
    margin: 0 auto;
    width: 70%;
}
.juas{
    margin-left: 115px;
}
.formuregistro{
    color: white;
}
.centrado{
    background-color: rgb(53, 53, 53);
    margin: 0 auto;
    width: 80%;
    border-radius: 5px; 
    margin-top: 50px;
}